<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/headb')  %> 

<body>
    <%- include('../partials/header') %> 
    <main class="mainCart_">
        <div class="contenedor-carrito-pago">
            <div class="carrito">
                <div class="logo-carrito">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <p>Carrito de compras</p>
                    <i id="x" class="fa-solid fa-circle-xmark"></i>
                </div>
                <hr>
                <section class="producto">
                    <div class="producto-img">
                        <img src="/images/products/1656402904840_img_.jpg" alt="">
                    </div>
                    <div class="producto-name">
                        <p>Collar para perros grandes 60 cm</p>
                        <input type="number" name="" id="" placeholder="1">
                    </div>
                    <div class="producto-pago"> 
                        <i class="fa-solid fa-trash-can"></i>
                        <p class="priceProd_">$750,00</p>
                    </div>
                </section>
                <section class="producto">
                    <div class="producto-img">
                        <img src="/images/products/1656402338051_img_.jpg" alt="">
                    </div>
                    <div class="producto-name">
                        <p>Juguete Hueso de Goma Mediano</p>
                        <input type="number" name="" id="" placeholder="1">
                    </div>
                    <div class="producto-pago">
                        <i class="fa-solid fa-trash-can"></i>
                        <p class="priceProd_">$490,00</p>
                    </div>
                </section>
                <section class="producto">
                    <div class="producto-img">
                        <img src="/images/products/1656414264500_img_.jpg" alt="">
                    </div>
                    <div class="producto-name">
                        <p>Cepillo cardina Mediana</p>
                        <input type="number" name="" id="" placeholder="1">
                    </div>
                    <div class="producto-pago">
                        <i class="fa-solid fa-trash-can"></i>
                        <p class="priceProd_">$650,00</p>
                    </div>
                </section>
                <hr>
            </div>
            <div class="pago">
                <div class="costo">
                    <p>Total</p>
                    <p>$1.890,00</p>
                </div>
                <div class="button-compra">
                  <button>Iniciar Compra</button>
                </div>
                <div class="metodo-pago">
                    <p>Metodos de pago</p>
                    <div>
                        <i class="fa-solid fa-credit-card"></i>
                        <i class="fa-solid fa-money-bill-1-wave"></i>
                    </div>
                </div>
                <div class="tarjetas">
                    <p>Tarjetas</p>
                    <div>
                    <i class="fa-brands fa-cc-visa"></i>
                    <i class="fa-brands fa-cc-amex"></i>
                    <i class="fa-brands fa-cc-paypal"></i>
                    <i class="fa-brands fa-cc-apple-pay"></i>
                    </div>
                </div>
                <div class="button-vaciar">
                    <button>Vaciar Carrito</button>
                </div>
            </div>
        </div>
        <!-- Productos recomendados  -->
        <div>
            <section class="producto-recomendados">
                <h3 class="product-title">Productos Recomendados</h3>
                <div class="listado-products-rec">
                    <article class="producto-rec">
                        <div class="imagen-producto-rec">
                            <img width="100%" src="/images/pelotas-de-soga.jpg" alt="Cuerdas de juegos">
                        </div>                   
                        <div class="detalles-producto">
                            <div class="producto-favorito">
                                <h4 class="name-product">Nudos para jugar</h4>
                            </div>
                            <div class="text-detalle">
                                <p>$4.500</p>
                                <p class="info_productt">Pelota realizada con sogas anudadas que además de servir para que el perro de divierta ayuda a la limpieza dental.</p>
                            </div>
                        </div>
                    </article>
                    <article class="producto-rec">
                        <div class="imagen-producto-rec">
                            <img width="100%" src="/images/camas.jpg" alt="Colchón Liso">
                        </div>
                        <div class="detalles-producto">
                            <div class="producto-favorito">
                                <h4 class="name-product">Colchón Liso</h4>
                            </div>
                            <div class="text-detalle">
                                <p>$1.550</p>
                                <p class="info_productt">Colchón liso forrado en tela de avión, rellenos con guata y copo.</p>
                            </div>
                            
                        </div>
                    </article>
                    <article class="producto-rec">
                        <div class="imagen-producto-rec">
                            <img width="100%" src="/images/plato-plegable-silicona.jpg" alt="Platos de mascotas">
                        </div>                    
                        <div class="detalles-producto">
                            <div class="producto-favorito">
                                <h4 class="name-product">Plato Plegable de Siicona</h4>
                              
                            </div>
                            <div class="text-detalle">
                                <p>$460</p>
                                <p class="info_productt">Práctico comedero/bebedero para llevar en tus paseos o viajes con tu mascota. Es de silicona, se puede plegar para que sea de fácil traslado. Incluye mosquetón para enganchar en la correa, collar, en tu mochila o donde prefieras.</p>
                            </div>
                            
                        </div>
                    </article>
                    <article class="producto-rec">
                        <div class="imagen-producto-rec">
                            <img width="100%" src="/images/img8.jpg" alt="Collares">
                        </div>                   
                        <div class="detalles-producto">
                            <div class="producto-favorito">
                                <h4 class="name-product">Collar con pañuelo</h4>
                                
                            </div>
                            <div class="text-detalle">
                                <p>$460</p>
                                <p class="info_productt">Collares para perros realizados en ecocuero. Este modelo, en la cara exterior del collar posee un pañuelo que le otorga un toque de distinción y belleza a la mascota.Fácil de limpiar Venta mayorista. Modelos y colores variados.<p>
                            </div>
                        </div>
                    </article>
                </div>
                
            </section>
        </div>

    </main>

    <%- include('../partials/footer')  %> 
    <%- include('../partials/scripts')  %>
</body>
</html>