:root{
    /*  COLORES */
     --color-Amarillo: #FFBD28;
     --color-VioletaClaro: #5F60FE;
     --color-VioletaOscuro: #292BFD;
     --color-Gris-oscuro: #666;
     --color-Gris-claro: #ebebeb;
     --color-Verde: #8BFF81;

     /* FUENTES */

     --fuente-roboto: 'Roboto', sans-serif;
     
     /* TAMAÑOS DE FUENTE */

     --paragraphs: 12px;
     --title: 24px;
     --prices: 18px;
     --discounts-descriptions: 16px;
 
}