<!DOCTYPE html>
<html lang="en">

    <%- include('partials/headb')  %> 

<body>
    <%- include('partials/header') %>  
    
       
    <main class="contact">

        <h3>Contacto</h3>

        <p class="message">Esperamos tu llamando o WhatsApp al 11 7757-8563. Horario de atención: Lunes a Viernes de 9 a 17hs. También puede escribirnos un e-mail a: <a href="">anubisshop@gmail.com</a>  o bien, envíenos un mensaje completando el formulario. Lo contactaremos en breve.</p>

        <div class="info__Contact"> 
            <div>
                <h4>Donde contactarnos</h4>
                <p><i class="fa-solid fa-envelope"></i> <a class="linkTo_" href="">anubisshop@gmail.com</a> </p>
                <p><i class="fa-solid fa-phone"></i> 11 7757-8563 </p>
                <p><i class="fa-brands fa-instagram"></i> <a  class="linkTo_" Target="_blank" href="https://www.instagram.com/">Siguenos en instagram</a> </p>
                <p><i class="fa-brands fa-facebook-square"></i> <a class="linkTo_" Target="_blank" href="https://www.facebook.com/">Siguenos en facebook</a> </p>
                <p></p>
            </div>
            <div class="huella">
                <i class="fa-solid fa-paw huella"></i>
                <i>Firma AnubisShop</i>
            </div>
        </div>
    
    </main>
    
            
    <%- include('partials/footer')  %> 
  
    <%- include('partials/scripts')  %>

    </body>
</html>