<!DOCTYPE html>
<html lang="en">

    <%- include('partials/headb')  %> 

<body>
    <%- include('partials/header') %>  
    
       
    <main class="aboutUs">
        <h2>Sobre nosotros</h2>

        <i class="fa-solid fa-quote-left quote__"></i>


        <p class="about_us">En la actualidad, las mascotas, en especial perros y gatos son tenidos en cuenta como miembros de las familias argentinas, y así mismo, su cuidado y alimentación es cada vez más importante a tener en cuenta dentro de los gastos del mes; esto es debido a la fidelidad, compañía, aportes en aprendizaje de niños y adultos, protección, entre otros factores,que simboliza el animal.

            Dado lo anterior, para los cuidados y alimentación necesaria de perros y gatos, se toma la decisión de realizar el proyecto de la creación de una tienda de mascotas online, la cual se llamara ANUBISSHOP, donde contará con todo tipo de alimento seco y húmedo, así mismo, accesorios en general como juguetes, productos de aseo, collares, tazas de comida, cepillos, entre otros; la venta será vía online. El sitio va dirigido a todo público. En especial a los dueños de mascotas.</p>
            

        <i class="fa-solid fa-quote-right quote2__"></i>

        <div class="huella">
            <i class="fa-solid fa-paw huella"></i>
            <i>Firma AnubisShop</i>
        </div>

    </main>
    
            
    <%- include('partials/footer')  %> 
  
    <%- include('partials/scripts')  %>

    </body>
</html>