<!DOCTYPE html>
<html lang="en">
<%- include('../partials/headb') %> 
<body>
  <%- include('partials/header') %> 

      <main class="admin-main">
        <div class="backgroundContainer">
   
        </div>
      </main>

      <%- include('../partials/footer') %> 
      
      <%- include('partials/scripts') %> 

</body>
</html>